:root {

  --color-white: #ffffff;

  --color-black: #000000;
  --color-black-700: #212121;

  --color-green: #0EBC05;

  --color-grey: #E3E9ED;
  --color-grey-dark: #555555;

  //Fonts
  --font-serif: "Arial", sans-serif;
  --font-sans: "Arial Narrow", sans-serif;
}